<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div >

        <div>
      
          <form method="POST">
            <div>
              <label><b>Username</b></label>
              <input type="text" name="username" required>
              <label><b>Password</b></label>
              <input type="password" name="password" required>
              <label><b>OTP (if enabled in your account)</b></label>
              <input type="text" name="otp">
              <button type="submit">Login</button>
            </div>
          </form>
      
          <p class="w3-left-align"><a href="/user/create">Create User</a></p>
      
        </div>
        {% if val %}
        <div>{{val}}</div>
        {% endif %}
      </div>
      
      </div>
      </div>
    
</body>
</html>